<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Car Parking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
            <li class="nav-item active">
            <a class="nav-link" *ngIf="registerserive.isUserLoggedIn()" routerLink="/welcome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link"  *ngIf="registerserive.isUserLoggedIn()" routerLink="/options">Options</a>
            </li>
      </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end ">
            
            <li class="nav-item">
            <a class="nav-link" *ngIf="registerserive.isUserLoggedIn()" routerLink="/login">Logout</a>
            </li>
      </ul>
    </div>
  </nav>